appdirs==1.4.4
glcontext==2.5.0
glfw==2.7.0
imageio==2.34.1
imageio-ffmpeg==0.4.9
imgui==2.0.0
moderngl==5.10.0
numpy==1.26.4
pillow==10.3.0
psutil==5.9.8
pyinstaller-hooks-contrib==2024.5
PyOpenGL==3.1.7
PyOpenGL-accelerate==3.1.7
setuptools==69.5.1
wheel==0.43.0
